body {
    background-color: #dfdfdf;
}

.container {
    display: flex;
    inset: 0;
    position: relative;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.mainPage {
    display: flex;
    width: 1000px;
    height: 620px;
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #b8b9be, -4px -5px 7px #fff !important;
}

ul {
    display: flex;
    width: 920px;
    height: 50px;
    box-shadow: inset 4px 4px 6px #b8b9be, inset -4px -5px 7px #fff !important;
    margin: 2%;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
}


li {
    width: 10%;
    margin-left: -10%;
    list-style-type: none;
    font-size: large;
    color: #fff;
    text-shadow: 3px -1px 3px black;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow: inset 4px 4px 6px #b8b9be, inset -4px -5px 7px #fff !important;
    height: 35px;
    visibility: hidden;
}

li:hover {
    font-size: 21px;
    transition-duration: .5s;
    text-shadow: 3px -1px 8px black;
}

.liVisible {
    width: 10%;
    margin-left: 0%;
    margin-right: 2%;
    list-style-type: none;
    font-size: large;
    color: #fff;
    text-shadow: 3px -1px 3px black;
    transition-duration: .5s;
    cursor: pointer;
    box-shadow: inset 4px 4px 6px #b8b9be, inset -4px -5px 7px #fff !important;
    height: 35px;
    text-align: center;
    align-items: center;
    align-content: center;
    visibility: visible;
    transition: 1.5s;
}

.myName {
    margin-right: 12%;
    margin-left: -20px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: rgba(250, 247, 247, 0.966);
    text-shadow: 2px 3px 10px rgba(240, 13, 13, 0.925);
    transition-duration: .7s;
    box-shadow: 4px 4px 6px #b8b9be, -2px -1px 8px #fff !important;
    visibility: visible;
}

.myName:hover {
    margin-right: 12%;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: rgba(245, 242, 242, 0.966);
    text-shadow: 2px 3px 10px rgba(13, 240, 209, 0.918);
    transition-duration: .4s;
}

.signUp {
    position: absolute;
    right: 40px;
    margin-left: 10%;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 6px #b8b9be, -3px -3px 10px #b8b9be !important;
    padding: 1%;
    cursor: pointer;
}

.signUp:hover {
    margin-right: 0%;
    margin-left: 10%;
    font-size: medium;
    border: none;
    border-radius: 10px;
    box-shadow: inset 4px 4px 6px #b8b9be, inset -4px -5px 7px #fff !important;
    padding: 1%;
    cursor: pointer;
}

.logIn__page {
    display: flex;
    width: 800px;
    height: 500px;
    background-image: url('ford.jpg');
    background-size: cover;
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 20px;
    box-shadow: inset -4px -5px 7px #fff, -4px -5px 7px #fff !important;
    margin-left: 100px;
}

/* ************************************************************************************** */

.logIn__menu {

    display: inline-block;
    width: 600px;
    height: 450px;
    /* make it to 40 */
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #b8b9be, -4px -5px 7px #fff !important;
    /* background-color: #dfdfdf; */
    justify-content: center;
    text-align: center;
}

.logIn__menu:hover {

    display: inline-block;
    width: 600px;
    height: 450px;
    /* make it to 40 */
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #b8b9be, -4px -5px 7px #fff !important;
    /* background-color: #dfdfdf; */
    justify-content: center;
    text-align: center;

}

h1 {
    color: whitesmoke;
    text-shadow: 3px -1px 5px black;
}

h5 {
    color: #ffff;
}

input {
    display: flex;
    width: 450px;
    height: 45px;
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 20px;
    box-shadow: inset 4px 4px 6px #b8b9be, inset -4px -5px 7px #fff !important;
    margin-bottom: 3%;
    padding-left: 4%;
    font-size: medium;
    color: rgba(77, 71, 71, 0.973);
}

input:focus {
    outline-width: 0px;
}

.input:focus+label {
    transform: translateY(-205px);
    color: red;
}

.Error {
    box-shadow: inset -5px -5px 15px rgba(228, 15, 15, 0.822), inset -5px -5px 15px rgba(228, 15, 15, 0.822) !important;
    animation: blanking1 1.5s ease-in-out;

}

@keyframes blanking1 {
    50% {
        opacity: 1;
    }

    50% {
        opacity: .7;
    }
}

.details {
    display: flex;
    justify-content: center;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: -5%;
    margin-left: 15%;
}

.checkboxInput {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    padding: 0;
    inset: 0;
    position: relative;
    margin: 1%;
}

.forgetPass {
    color: #ffffff;
    background-color: #1a1919;
    margin-left: 35%;
}


.LoginMainButton {
    display: flex;
    width: 100px;
    height: 40px;
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #524e4eee, #757474d5, #e9dfdff5);
    /* box-shadow: 4px 4px 6px #545457,  -4px -5px 7px #383232e0 !important; */
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;

    cursor: pointer;
    transition-duration: .6s;
    margin-bottom: 2.5%;
    padding-left: 4%;

    .LogSpan {
        color: whitesmoke;
        transition-duration: .5s;
    }

    .inSpan {
        color: black;
        transition-duration: .5s;
    }

}

.LoginMainButton:hover {

    background-image: linear-gradient(to right, #f0e5e5f5, #7a7979d5, #383535ee);
    transition-duration: .6s;
    /* box-shadow: inset 4px 4px 6px #efeff1, inset  -4px -5px 7px #c4c1c1e0 !important; */

    .LogSpan {
        color: black;
        transition-duration: .5s;
    }

    .inSpan {
        color: whitesmoke;
        transition-duration: .5s;
    }

}

/* 

.emptyDiv{
    display: flex;
    width: 500px;
    height: 150px;
    background-image: url("ford.jpg");
    mix-blend-mode:hard-light;
    background-position: bottom ;
    background-size: 790px;
    inset: 0;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 10px;
    
    margin-top: -17%;
    
} */